---
layout: default
---

<div class="portfolio-items">

  <h2>Illustration</h2>

  {% include portfolio-item.html image="engaged.jpg" title="Otherwise Engaged"%}
  {% include portfolio-item.html image="envelope.jpg" title="Send Me Flowers"%}
  {% include portfolio-item.html image="speech.jpg" title="Free Speech"%}
  {% include portfolio-item.html image="phone.jpg" title="Ring Ring"%}


  <h2 class="gd">Graphic Design</h2>

  {% include portfolio-item.html image="card.jpg" title="Invitation"%}
  {% include portfolio-item.html image="package.jpg" title="Package Design"%}
  {% include portfolio-item.html image="hats.jpg" title="Dingbat Design"%}
  {% include portfolio-item.html image="pure.jpg" title="Logo Redesign"%}

</div>
