---
layout: default
title: "Geni Triantis"
des: This is Geni's website. Geni is an illustrator and graphic designer.
---

<div class="portfolio-items">

  <h2>Illustration</h2>

  <a href="{{site.baseurl}}/engaged">{% include portfolio-item.html image="engaged.jpg" title="Otherwise Engaged"%}</a>
  <a href="{{site.baseurl}}/envelope">{% include portfolio-item.html image="envelope.jpg" title="Illustrated Greeting Cards"%}</a>
  <a href="{{site.baseurl}}/speech">{% include portfolio-item.html image="speech.jpg" title="Free Speech"%}</a>
  <a href="{{site.baseurl}}/phone">{% include portfolio-item.html image="phone.jpg" title="Ring Ring"%}</a>



  <h2 class="gd">Graphic Design</h2>

  <a href="{{site.baseurl}}/card">{% include portfolio-item.html image="card.jpg" title="Invitation Design"%}</a>
  <a href="{{site.baseurl}}/logo">{% include portfolio-item.html image="pure.jpg" title="Logo Redesign"%}</a>
  <a href="{{site.baseurl}}/dingbats">{% include portfolio-item.html image="hats.jpg" title="Dingbat Design"%}</a>
  <a href="{{site.baseurl}}/icons">{% include portfolio-item.html image="icons.jpg" title="Icon Design"%}</a>

</div>
