<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Geni Triantis</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Geni Triantis</h1>
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/">Work</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
      </ul>
    </nav>
  </header>

  <main>

    {{content}}

  </main>

</body>
</html>
